.hover-underline-animation {
  position: relative;
  text-decoration: none;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.animate-menu-steps {
  $steps: 5;
  $diffrenceBetweenSteps: 0.1;
  @for $i from 1 through $steps {
    &:nth-child(#{$i}){
      animation-delay: #{$i * $diffrenceBetweenSteps}s;
    }
  }
}