@font-face { font-family: Sabon; src: url('./assets/fonts/Sabon.ttf'); } 
@font-face { font-family: TradeGothic; src: url('./assets/fonts/TradeGothic-Bold.ttf'); } 

.font-sabon {
    font-family: 'Sabon', 'Roboto' ,sans-serif;
}

.font-trade-gothic {
    font-family: 'TradeGothic', 'Roboto', sans-serif;
}

.font-garamond {
    font-family: 'Garamond', 'Roboto', sans-serif
}