@import "../../breakpoints";

.bg-glass-white {
  background: rgba(213, 213, 213, 0.041);
}

.blur-4 {
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 50px );
}

.shadow-black {
  box-shadow: 0 8px 32px 0 rgba(53, 53, 54, 0.37);
}

.border-glass-black {
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.min-height-90-screen{
  min-height: 80vh;
}

.text-gradient {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to left, #5fded8, #459693);
}

.background-gradient {
  background-image: linear-gradient(to left, #5fded8, #459693);
}

.photo {
  display: flex;
	position: relative;
	width: 400px;
  aspect-ratio: 3/4;
	background-image: url('/assets/images/profile_picture.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 3%;

  &:after {
    content: '';
    background: inherit;
    background-size: inherit;
    background-repeat: inherit;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    bottom: -20px;
    right: -15px;
    border-radius: inherit;
    z-index: -1;
    filter: blur(10px);

  }

  @media screen and (max-width: $laptop) {
    width: 300px;
  }

  @media screen and (max-width: $mobile) {
    width: 250px;
  }

}
